<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title)? yield(:title): "Trenders" %></title>
  <meta name="description" content="<%= content_for?(:description)? yield(:description): "Monitize your Social Media life" %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

<div id="user_nav">
	<% if user_signed_in? %>
	  Logged in as <strong><%= current_user.username %></strong>.
	  <%= link_to 'Edit profile', edit_user_registration_path %> |
	  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
	<% else %>
	  <%= link_to "Sign up", new_user_registration_path %> |
	  <%= link_to "Login", new_user_session_path %> |
	  <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
	<% end %>
</div>

<%= yield %>

</body>
</html>
